#DIV1{
width:250px;　height:300px;　padding:20px;　　margin-right:10px;float:left;
background-color: #D3F8E2;box-shadow:3px 3px 12px #F6BDD1; text-align:center;color: #00A7E1; text-shadow: 2px 2px 2px #F6BDD1
}

#DIV2{
width:250px;　height:300px;　padding:20px;　　margin-right:10px;float:left;
background-color: #D3F8E2;box-shadow:3px 3px 12px #F6BDD1;text-align:center;color: #5B9279; text-shadow: 2px 2px 2px #F6BDD1
}

#DIV3{
width:250px;　height: 300px;　padding:20px;　　margin-right:10px;float:left; 
background-color: #D3F8E2;box-shadow:3px 3px 12px #F6BDD1;text-align:center;color: #8F8073; text-shadow: 2px 2px 2px #F6BDD1
}

#DIV4{
width:250px;　height:300px;　padding:20px;　　margin-right:10px;float:left;
background-color: #D3F8E2;box-shadow:3px 3px 12px #F6BDD1;text-align:center;color: #E85D75; text-shadow: 2px 2px 2px #F6BDD1
}
